
<body>
<div class="container">
  <header class="header">
    <img src="../assets/img/logo.png" alt="trillo" class="logo">
    <form action="#" class="search">
      <input type="text" class="search-input" placeholder="Search hotel">
      <button class="search__button">
        <svg class="search__icon">
          <use xlink:href="../assets/img/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <nav class="user-nav">
      <div class="icon-box">
        <svg class="icon">
          <use xlink:href="../assets/img/sprite.svg#icon-book"></use>
        </svg>
        <span class="notification">8</span>
      </div>
      <div class="icon-box">
        <svg class="icon">
          <use xlink:href="../assets/img/sprite.svg#icon-bubbles4"></use>
        </svg>
        <span class="notification">18</span>
      </div>
      <div class="user">
        <img src="../assets/img/user.jpg" alt="profile" class="user-photo">
        <span class="user-name">Adeola</span>
      </div>
    </nav>
  </header>
  <div class="content">

    <nav class="sidebar">
      <ul class="sidenav">
        <li class="item">
          <a href="#" class="link">
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-home3"></use>
            </svg>
            <span>Hotel</span>
          </a>
        </li>
        <li class="item">
          <a href="#" class="link">
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-airplane"></use>
            </svg>
            <span>Flight</span>
          </a>
        </li>
        <li class="item">
          <a href="#" class="link">
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-location"></use>
            </svg>
            <span>Car Rental</span>
          </a>
        </li>
        <li class="item">
          <a href="#" class="link">
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-home3"></use>
            </svg>
            <span>Tour</span>
          </a>
        </li>
      </ul>
      <div class="footer">
        &copy;; 2019 by Adeola. All right reserved
      </div>
    </nav>



    <main class="hotel-view">

      <div class="gallery">
       <figure class="item">
         <img src="../assets/img/hotel-1.jpg" class="photo">
       </figure>
       <figure class="item">
         <img src="../assets/img/hotel-2.jpg" class="photo">
       </figure>
       <figure class="item">
         <img src="../assets/img/hotel-3.jpg" class="photo">
       </figure>
      </div>
      <div class="overview">
        <div class="heading">
          <h1> HOTEL LAS PALMAS</h1>

          <div class="stars">
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-star-full"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-star-full"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-star-full"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-star-full"></use>
            </svg>
          </div>

          <div class="location">
            <svg class="icon-location">
              <use xlink:href="../assets/img/sprite.svg#icon-location"></use>
            </svg>
            <button class="btn-inline">Albufera, Portugal</button>
          </div>
          <div class="rating">
            <div class="rating-average">8.9</div>
            <div class="rating-count">849 votes</div>
          </div>

        </div>

      </div>




    </main>
  </div>
</div>
</body>
