
<body>
<div class="container">
  <header class="header">
    <img src="../assets/img/logo.png" alt="trillo" class="logo">
    <form action="#" class="search">
      <input type="text" class="search-input" placeholder="Search hotel">
      <button class="search__button">
        <svg class="search__icon">
          <use xlink:href="../assets/img/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <nav class="user-nav">
      <div class="icon-box">
        <svg class="icon">
          <use xlink:href="../assets/img/sprite.svg#icon-book"></use>
        </svg>
        <span class="notification">8</span>
      </div>
      <div class="icon-box">
        <svg class="icon">
          <use xlink:href="../assets/img/sprite.svg#icon-bubbles4"></use>
        </svg>
        <span class="notification">18</span>
      </div>
      <div class="user">
        <img src="../assets/img/user.jpg" alt="profile" class="user-photo">
        <span class="user-name">Adeola</span>
      </div>
    </nav>
  </header>
  <div class="content">

    <nav class="sidebar">
      <ul class="sidenav">
        <li class="item">
          <a href="#" class="link">
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-home3"></use>
            </svg>
            <span>Hotel</span>
          </a>
        </li>
        <li class="item">
          <a href="#" class="link">
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-airplane"></use>
            </svg>
            <span>Flight</span>
          </a>
        </li>
        <li class="item">
          <a href="#" class="link">
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-location"></use>
            </svg>
            <span>Car Rental</span>
          </a>
        </li>
        <li class="item">
          <a href="#" class="link">
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-home3"></use>
            </svg>
            <span>Tour</span>
          </a>
        </li>
      </ul>
      <div class="footer">
        &copy;; 2019 by Adeola. All right reserved
      </div>
    </nav>



    <main class="hotel-view">

      <div class="gallery">
       <figure class="item">
         <img src="../assets/img/hotel-1.jpg" class="photo">
       </figure>
       <figure class="item">
         <img src="../assets/img/hotel-2.jpg" class="photo">
       </figure>
       <figure class="item">
         <img src="../assets/img/hotel-3.jpg" class="photo">
       </figure>
      </div>


      <div class="overview">
          <h1 class="heading"> HOTEL LAS PALMAS</h1>

          <div class="stars">
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-star-full"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-star-full"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-star-full"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#icon-star-full"></use>
            </svg>
          </div>

          <div class="location">
            <svg class="icon-location">
              <use xlink:href="../assets/img/sprite.svg#icon-location"></use>
            </svg>
            <button class="btn-inline">Albufera, Portugal</button>
          </div>
          <div class="rating">
            <div class="rating-average">8.9</div>
            <div class="rating-count">849 votes</div>
          </div>

        </div>

      <div class="detail">
        <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <ul class="list">
            <li class="item">Breakfast included</li>
            <li class="item">Breakfast included</li>
            <li class="item">Breakfast included</li>
            <li class="item">Breakfast included</li>
            <li class="item">Breakfast included</li>
            <li class="item">Breakfast included</li>
            <li class="item">Breakfast included</li>
            <li class="item">Breakfast included</li>
          </ul>
          <div class="recommend">
            <p class="count"> Lucy and 3 other friends recommended this hotel</p>
            <div class="friends">
              <img src="../assets/img/user-3.jpg" class="photo">
              <img src="../assets/img/user-4.jpg" class="photo">
              <img src="../assets/img/user-2.jpg" class="photo">
              <img src="../assets/img/user-1.jpg" class="photo">
            </div>
          </div>
        </div>
        <figure class="users-review">
          <figure class="review">
            <blockquote class="text">
              orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </blockquote>
            <figcaption class="user">
              <img src="../assets/img/user-2.jpg" class="photo">
              <div class="user-box">
                <p class="name"> Adeola</p>
                <p class="date"> September 5, 2019</p>
              </div>
              <div class="rating">
                10
              </div>
            </figcaption>
          </figure>
          <figure class="review">
            <blockquote class="text">
              orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </blockquote>
            <figcaption class="user">
              <img src="../assets/img/user-2.jpg" class="photo">
              <div class="user-box">
                <p class="name"> Adeola</p>
                <p class="date"> September 5, 2019</p>
              </div>
              <div class="rating">
                10
              </div>
            </figcaption>
          </figure>
        </figure>



      </div>


      <div class="cta">
        <h2 class="book-now">
          Good news! We have 4 free rooms for your selected days to buy
        </h2>
        <span>
           <button class="btn">
          Buy Now
        </button>
        </span>

      </div>

    </main>
  </div>
</div>
</body>
